.form--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.section--title {
  font-weight: 600;
}

.input--field,
#objective {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 13px;
  resize: none;
}

.input--field {
  height: 1.5rem;
}

.input--field:focus,
#objective:focus {
  outline: 1px solid #c8c8c8;
  border: 1px solid transparent;
}

.edit--save {
  background-color: #000;
  color: white;
}

/* ---- Modal ---- */

.modal {
  position: fixed;
  height: 500px;
  width: 400px;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border: 2px solid #000;
  border-radius: 5px;
  z-index: 15;
  background-color: white;
  transition: 200ms ease-in-out;
  padding: 10px;
  transition: 200ms ease-in-out;
}

#overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.485);
  pointer-events: none;
  transition: 200ms ease-in-out;
  backdrop-filter: blur(3px);
  pointer-events: all;
}
