header {
  background-color: #547588cb;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header--spacer {
  width: 20rem;
}

.cv--title {
  flex: 1;
  color: #f0fdfa;
  letter-spacing: 3px;
}

.headshotWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50px;
  top: 10px;
}

.headshot {
  height: 220px;
}

.name {
  font-size: 30px;
  font-weight: 600;
}

.contactInfo {
  font-size: 13px;
}

.objective {
  width: 61%;
  margin-left: auto;
  height: 5rem;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.btn-row {
  display: flex;
}

.section--title {
  margin: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: underline;
}

.section--content {
  margin: 5px;
  font-size: 13px;
}

.headerBreak {
  border: 1px solid #acacacc9;
  margin-bottom: 2rem;
}

.edit--btn {
  width: 100px;
  margin-left: auto;
  margin-right: 2rem;
}

.edit--btn,
.edit--save,
.edit--add,
.remove--education {
  padding: 3px 20px;
  background-color: #000;
  color: #f1f1f1;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.2s;
}

.edit--btn:hover,
.edit--save:hover {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  transition: 0.15s;
}

.header--edit--btn:active,
.edit--save:active,
.edit--add:active {
  transform: scale(0.95);
  transition: 0.15s;
}
