.education--lvl {
  display: flex;
  font-size: 13px;
  margin: 5px;
}

.degree {
  margin: 1px;
  margin-right: auto;
  font-weight: 600;
}

.degree--completion {
  margin: 1px;
}

.school {
  margin: 5px;
  font-size: 13px;
}
