.exp--item {
  font-size: 13px;
}

.position {
  display: flex;
  margin: 5px;
}

.position--title {
  margin: 1px;
  margin-right: auto;
  font-weight: 600;
}

.position--date {
  margin: 1px;
}

.position--location {
  margin: 5px;
  font-size: 13px;
}

.spacer {
  height: 5rem;
}
