.form--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.section--title {
  font-weight: 600;
}

.edit--wrap {
  overflow-y: auto;
  max-height: 300px;
}

.education--wrap {
  display: flex;
  flex-direction: column;

  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 5px;
}

.education--wrap > input {
  padding-left: 5px;
}

.input--wrap {
  display: flex;
  position: relative;
}

.input--field,
#objective {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 13px;
  resize: none;
}

.input--field {
  height: 1.5rem;
  flex: 1;
  padding-left: 30px;
}

.input--field:focus,
#objective:focus {
  outline: 1px solid #c8c8c8;
  border: 1px solid transparent;
}

.edit--add,
.remove--field,
.add--description {
  background-color: white;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
  margin: 5px 0px;
}

.edit--add:hover {
  color: #000;
  cursor: pointer;
  border: 1px solid black;
}

.remove--btn {
  position: absolute;
  left: 5px;
  top: 0px;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.remove--btn:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.2);
}

.remove--field:hover {
  color: red;
  border: 1px solid red;
  cursor: pointer;
}

.add--description:hover {
  color: rgb(0, 221, 255);
  border: 1px solid rgb(0, 221, 255);
  cursor: pointer;
}
/* ---- Modal ---- */

.modal {
  position: fixed;
  height: 500px;
  width: 400px;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border: 2px solid #000;
  border-radius: 5px;
  z-index: 15;
  background-color: white;
  transition: 200ms ease-in-out;
  padding: 10px;
  transition: 200ms ease-in-out;
}

#overlay {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.485);
  pointer-events: none;
  transition: 200ms ease-in-out;
  backdrop-filter: blur(3px);
  pointer-events: all;
}
