@import "./styles/education.css";
@import "./styles/header.css";
@import "./styles/skills.css";
@import "./styles/experience.css";
@import "./styles/form.css";

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* ---- Skeleton styling ----- */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 3rem;
}

.background {
  min-width: 900px;
  background-image: url(../public/cv-bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv {
  margin: 30px;
  background-color: #ffffffc5;
  min-width: 90%;
}
